@import 'variable.scss';

.create-game-panel {
  display: flex;
  flex-direction: column;
  .txt-input {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    label {
      font-weight: bold;
      margin: 0 0.6rem 0.4rem 0;
      font-size: 1.2rem;
    }
    input {
      height: 2rem;
      font-size: 1.5rem;
    }
  }
  .create-btn {
    height: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color;
    background-color: $btn-color;
    border: none;
    box-shadow: none;
    &:hover {
      background-color: $btn-color-hover;
    }
    &:active {
      background-color: $btn-color-click;
    }
  }
}

.create-game-panel-invite-code {
  display: flex;
  flex-direction: column;
  .invite-code-field {
    justify-content: center;
    height: 3rem;
    display: flex;
    input {
      font-size: 1rem;
      width: 14rem;
      height: 2rem;
      padding: 0;
      border: none;
      margin-right: 1px;
      padding: 4px;
    }
    .copy-clipboard-btn {
      display: flex;
      padding: 4px;
      align-items: center;
      justify-content: center;
      background-color: rgb(64, 143, 196);
      height: 2rem;
      cursor: pointer;
      width: 5rem;
      &:hover {
        background-color: rgb(55, 120, 163);
      }
      &:active {
        background-color: rgb(31, 86, 122);
      }
    }
  }
}
